# Set your actual live production domain URL here:
NEXT_PUBLIC_SITE_URL=https://vyandigitalagency.com

# Google Search Console verification code:
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=01QA1dYBxrIYgqVyFygvhJsItrB9Z9gI-ryWpk_rKbE